<link href="{{ asset('assets/css/userProfile.css') }}" rel="stylesheet" />

{{ form_start(form) }}

    {{ form_row(form.username,{'attr':{'class':'label'}}) }}
    {{ form_row(form.email,{'attr':{'class':'label'}}) }}
    {{ form_row(form.password,{'attr':{'class':'label'}}) }}

    <button class="btn btn-modif">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
