{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/userProfile.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <p class="p-titre"> Bienvenue sur ton profil </p>
    <div class="container px-4 bg-profile" id="profile-container">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light userProfile ">
                    <table>
                        <tr><i class="fas fa-user-circle fa-10x"></i></tr>
                        <tr><p> {{ user.username }}</p></tr>
                        <tr><center><button class="btn btn-deco"><a href="{{ path('app_logout') }}">Déconnexion</a></button></center></tr>
                    </table>

                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light userInfo">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Utilisateur n°</td>
                            <td colspan="2">{{ user.id }}</td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td colspan="2">{{ user.username }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td colspan="2">{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td colspan="2">************</td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-modif"><a href="{{ path('user_update', {'id': user.id}) }}">Modifier compte</a></button>
                            <td>{{ include('user/_delete_form.html.twig') }}</td>
                            <td><button type="button" class="btn btn-contact"><a href="{{ path('contact') }}">Nous contacter</a></button></td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
