{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <center>
        <div class="menu">
            <img src="{{ absolute_url(asset('assets/img/logo.png')) }}" alt="Logo">
            <br>
            <h1>Jeu de l'eau</h1>
            <div class="btn-group-vertical">

                <a type="button" class="btn btn-primary" href="{{ path('home') }}">Nouvelle partie</a>
                <br>
                <a type="button" class="btn btn-primary" href="{{ path('home') }}">Charger partie</a>
                <br>
                <a type="button" class="btn btn-primary" href="{{ path('home') }}">Rejoindre en ligne</a>
                <br>
                <a type="button" class="btn btn-primary" href="{{ path('home') }}">Boutique</a>

            </div>

        </div>
    </center>

{% endblock %}
