{% extends'base.html.twig'%}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
        <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal"><center>Connexion</center></h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <br>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Connexion</button>
                <br>
                <center><p>Pas encore de compte ? <a href="{{ path("user_create") }}">Créer un compte</a> </p>
                </center>
            </form>
        </div>
    </div>
</body>
{% endblock %}